$main-color: #2487E2;
$sub-color: #7894e7;
$bg-color: #ffffff;
$bg-sub-color: #333333;
$bg-anti-color: #222222;
$bg-content-color: #FAFAFA;
$bg-block-color: #FDFDFD;
$hover-color: #888888;
$font-color: #333333;
$important-color: #be3434;
$success-color: #34BE79;
$pale-color: #6b6b6b;
$decor-light-color: #EDEEF0;
$tablet-widths: "(max-width: 1281px)";
$mobile-widths: "(max-width: 768px)";
$main-shadow: 0px 0px 6px rgba(51, 51, 51, 0.2);
$default-brs: 8px;
