<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/styles.min.css">
</head>

<body>
	<div class="page-wrapper page-wrapper--close-menu">
		//= include/header.html
		//= include/aside.html
		<main class="page-main padding-bottom-0">
			<h1 class="page-title">Клиент Иванов Кирилл</h1>
			<form class="inner-content margin-bottom-5">
				<h3 class="inner-title">
					Основные данные
				</h3>
				<section class="grid-form margin-bottom-6">
					<div class="form-buttons margin-top-0">
						<div class="avatar">ИК</div>
						<div class="buttons-bunch">
							<button class="button buttons-bunch__item" type="button">
								Новый заказ
							</button><button class="button button--primary buttons-bunch__item" type="button">
								История <img src="assets/img/icon/new-page.svg" alt="" class="button__img">
							</button>
						</div>
					</div>
					<div class="form-item form-item--invert">
						<label for="lastname" class="form-item__label">Фамилия</label>
						<input type="text" name="lastname" id="lastname" class="input" value="Иванов">
					</div>
					<div class="form-item form-item--invert">
						<label for="name" class="form-item__label">Фамилия</label>
						<input type="text" name="name" id="name" class="input" value="Кирилл">
					</div>
					<div class="form-item form-item--invert">
						<label for="name" class="form-item__label">Отчество</label>
						<input type="text" name="name" id="name" class="input" value="">
					</div>
					<div class="form-item form-item--invert">
						<label for="customer" class="form-item__label">Email</label>
						<input type="text" name="customer" id="customer" class="input">
					</div>
					<div class="form-item form-item--invert">
						<label for="customer" class="form-item__label">Телефон</label>
						<input type="text" name="customer" id="customer" class="input">
					</div>
					<div class="form-item form-item--invert">
						<label for="manager" class="form-item__label">Менеджер</label>
						<input type="text" name="manager" id="manager" class="input">
					</div>
					<div class="form-item form-item--invert">
						<label for="email-sub" class="form-item__label">Email-подписка</label>
						<input type="text" name="email-sub" id="email-sub" class="input">
					</div>
					<div class="form-item form-item--invert">
						<label for="birthday" class="form-item__label">День рождения</label>
						<input type="text" name="birthday" id="birthday" class="input">
					</div>
				</section>
				<h3 class="inner-title">
					Адрес</h3>
				<section class="grid-form margin-bottom-6">
					<div class="form-item form-item--invert">
						<label for="zip" class="form-item__label">Почтовый индекс</label>
						<input type="text" name="zip" id="zip" class="input" value="143900">
					</div>
					<div class="form-item form-item--invert">
						<label for="city" class="form-item__label">Город</label>
						<input type="text" name="city" id="city" class="input" value="Балашиха">
					</div>
					<div class="form-item form-item--invert">
						<label for="region" class="form-item__label">Регион</label>
						<input type="text" name="region" id="region" class="input" value="">
					</div>
					<div class="form-item form-item--invert">
						<label for="street" class="form-item__label">Улица</label>
						<input type="text" name="street" id="street" class="input" value="Фадеева">
					</div>
					<div class="form-item form-item--invert">
						<label for="metro" class="form-item__label">Метро</label>
						<input type="text" name="metro" id="metro" class="input" value="">
					</div>
					<div class="grid-form">
						<div class="form-item form-item--invert">
							<label for="zip" class="form-item__label">Дом</label>
							<input type="text" name="zip" id="zip" class="input">
						</div>
						<div class="form-item form-item--invert">
							<label for="zip" class="form-item__label">Квартира</label>
							<input type="text" name="zip" id="zip" class="input">
						</div>
						<div class="form-item form-item--invert">
							<label for="zip" class="form-item__label">Строение</label>
							<input type="text" name="zip" id="zip" class="input">
						</div>
						<div class="form-item form-item--invert">
							<label for="zip" class="form-item__label">Подъезд</label>
							<input type="text" name="zip" id="zip" class="input">
						</div>
						<div class="form-item form-item--invert">
							<label for="zip" class="form-item__label">Этаж</label>
							<input type="text" name="zip" id="zip" class="input">
						</div>
						<div class="form-item form-item--invert">
							<label for="zip" class="form-item__label">Корпус</label>
							<input type="text" name="zip" id="zip" class="input">
						</div>
					</div>
					<div class="form-item form-item--invert">
						<label for="metro" class="form-item__label">Дополнительная информация</label>
						<textarea type="text" name="metro" id="metro" class="textarea" value=""></textarea>
					</div>
					<button class="button margin-left-auto margin-top-auto grid-column-2" type="button">Добавить адрес</button>
				</section>
				<h3 class="inner-title">
					Заказы
				</h3>
				<section class="table table--compact" style="grid-template-columns: 1fr 1fr 1fr 1fr 1fr">
					<div class="table__row table__row--title">
						<div class="table__cell flex">
							<div class="sort-bunch">
								<span class="sort-bunch__top sort-bunch__top--active">По возрастанию</span>
								<span class="sort-bunch__bottom">По убыванию</span>
							</div><a href="#">Номер заказа</a>
						</div>
						<div class="table__cell flex">
							<div class="sort-bunch">
								<span class="sort-bunch__top sort-bunch__top--active">По возрастанию</span>
								<span class="sort-bunch__bottom">По убыванию</span>
							</div><a href="#">Дата создания</a>
						</div>
						<div class="table__cell flex">
							<div class="sort-bunch">
								<span class="sort-bunch__top sort-bunch__top--active">По возрастанию</span>
								<span class="sort-bunch__bottom">По убыванию</span>
							</div><a href="#">Общая сумма</a>
						</div>
						<div class="table__cell flex">
							<div class="sort-bunch">
								<span class="sort-bunch__top sort-bunch__top--active">По возрастанию</span>
								<span class="sort-bunch__bottom">По убыванию</span>
							</div><a href="#">Способ оплаты</a>
						</div>
						<div class="table__cell flex">
							<div class="sort-bunch">
								<span class="sort-bunch__top sort-bunch__top--active">По возрастанию</span>
								<span class="sort-bunch__bottom">По убыванию</span>
							</div><a href="#">Статус</a>
						</div>
					</div>
					<div class="table__row">
						<div class="table__cell"><a href="#" class="link">14b8</a></div>
						<div class="table__cell">28.03.2021</div>
						<div class="table__cell">2 890₽</div>
						<div class="table__cell">Онлайн-оплата</div>
						<div class="table__cell"><span class="font-color-success">Выполнен</span></div>
					</div>
					<div class="table__row">
						<div class="table__cell"><a href="#" class="link">14b8</a></div>
						<div class="table__cell">28.03.2021</div>
						<div class="table__cell">2 890₽</div>
						<div class="table__cell">Онлайн-оплата</div>
						<div class="table__cell"><span class="font-color-success">Выполнен</span></div>
					</div>
					<div class="table__row">
						<div class="table__cell"><a href="#" class="link">14b8</a></div>
						<div class="table__cell">28.03.2021</div>
						<div class="table__cell">2 890₽</div>
						<div class="table__cell">Онлайн-оплата</div>
						<div class="table__cell"><span class="font-color-success">Выполнен</span></div>
					</div>
					<div class="table__row">
						<div class="table__cell"><a href="#" class="link">14b8</a></div>
						<div class="table__cell">28.03.2021</div>
						<div class="table__cell">2 890₽</div>
						<div class="table__cell">Онлайн-оплата</div>
						<div class="table__cell"><span class="font-color-success">Выполнен</span></div>
					</div>
					<div class="table__row">
						<div class="table__cell"><a href="#" class="link">14b8</a></div>
						<div class="table__cell">28.03.2021</div>
						<div class="table__cell">2 890₽</div>
						<div class="table__cell">Онлайн-оплата</div>
						<div class="table__cell"><span class="font-color-success">Выполнен</span></div>
					</div>
					<div class="table__row">
						<div class="table__cell"><a href="#" class="link">14b8</a></div>
						<div class="table__cell">28.03.2021</div>
						<div class="table__cell">2 890₽</div>
						<div class="table__cell">Онлайн-оплата</div>
						<div class="table__cell"><span class="font-color-success">Выполнен</span></div>
					</div>
				</section>
				<ul class="pagination margin-top-4 margin-bottom-5 margin-left-auto">
					<li class="pagination__item"><a href="" class="pagination__item-link pagination__item-link--active">1</a></li>
					<li class="pagination__item"><a href="" class="pagination__item-link">2</a></li>
					<li class="pagination__item"><a href="" class="pagination__item-link">3</a></li>
				</ul>
			</form>
			<div class="bottom-action">
				<button class="button button--primary margin-right-6">Сохранить</button>
				<button class="button">Сохранить и выйти</button>
				<button class="button-delete margin-left-auto">Удалить</button>
			</div>
		</main>
	</div>
	<!-- body -->
	<script src="js/app.min.js"></script>
</body>

</html>