<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<title>Комментарии</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/styles.min.css">
</head>

<body>
	<div class="page-wrapper page-wrapper--close-menu">
		//= include/header.html
		//= include/aside.html
		<main class="page-main padding-bottom-0">
			<h1 class="page-title">Комментарий</h1>
			<div class="inner-content margin-bottom-5">
				<h3 class="inner-title">
					Товар</h3>
				<div class="flex round-default shadow-default background-default margin-bottom-6">
					<img src="assets/img/product-card-item.png" alt="" class="width-100 margin-right-3">
					<a href="#" class="link width-200 padding-top-4 margin-right-6">Бальзам Ла Рош Позе
						(La Roche-Posay)
						Цикапласт В5</a>
					<div class="flex flex--v width-auto padding-top-4 padding-bottom-4 margin-right-6">
						<div class="flex margin-bottom-2"><span class="sub-text margin-right-2">Производитель:</span>La Roshe</div>
						<div class="flex margin-bottom-2"><span class="sub-text margin-right-2">Страна:</span>Россия</div>
						<div class="flex"><span class="sub-text margin-right-2">Код АП:</span>40031CNT6B</div>
					</div>
					<div class="flex flex--v width-auto padding-top-4 padding-bottom-4 margin-right-auto">
						<div class="flex margin-bottom-2"><span class="sub-text margin-right-2">Производитель:</span>La Roshe</div>
						<div class="flex margin-bottom-2"><span class="sub-text margin-right-2">Страна:</span>Россия</div>
						<div class="flex"><span class="sub-text margin-right-2">Код АП:</span>40031CNT6B</div>
					</div>
					<div class="flex width-auto margin-left-auto margin-top-auto margin-bottom-auto margin-right-2">
						<a href=""><img src="assets/img/icon/notebook.svg" alt=""></a>
					</div>
				</div>
				<h3 class="inner-title">
					Комментарии</h3>
				<section class="messenger">
					<div class="messenger__body">
						<div class="messenger__body-inner">
							<div class="messenger__body-inner-message">
								<div class="messenger__body-inner-message-left">
									<div class="messenger__body-inner-message-left-avatar">
										<img src="assets/img/content/slider-1.png" alt="" class="messenger__body-inner-message-left-avatar-image">
										<div class="messenger__body-inner-message-left-avatar-letter">M</div>
									</div>
								</div>
								<div class="messenger__body-inner-message-right">
									<div class="messenger__body-inner-message-right-info">
										<span class="messenger__body-inner-message-right-info-name">Максим Островский</span>
										<div class="flex flex--v width-auto margin-left-auto">
											<date class="messenger__body-inner-message-right-info-date">28.04.2021 1:30</date>
											<span class="context-open margin-left-auto">
												<ul class="context-open__list">
													<li class="context-open__list-item">Ответить</li>
													<li class="context-open__list-item">Удалить</li>
													<li class="context-open__list-item">Игнорировать</li>
												</ul>
											</span>
										</div>
									</div>
									<div class="messenger__body-inner-message-right-text">
										<div class="messenger__body-inner-message-right-text-item">Замечательное средство.</div>
										<div class="messenger__body-inner-message-right-text-item">Спасло мне жизнь -_-</div>
									</div>
								</div>
							</div>
							<div class="messenger__body-inner-message">
								<div class="messenger__body-inner-message-left">
									<div class="messenger__body-inner-message-left-avatar">
										<img src="assets/img/content/slider-1.png" alt="" class="messenger__body-inner-message-left-avatar-image">
										<div class="messenger__body-inner-message-left-avatar-letter">M</div>
									</div>
								</div>
								<div class="messenger__body-inner-message-right">
									<div class="messenger__body-inner-message-right-info">
										<span class="messenger__body-inner-message-right-info-name">Максим Островский</span>
										<div class="flex flex--v width-auto margin-left-auto">
											<date class="messenger__body-inner-message-right-info-date">28.04.2021 1:30</date>
											<span class="context-open margin-left-auto">
												<ul class="context-open__list">
													<li class="context-open__list-item">Ответить</li>
													<li class="context-open__list-item">Удалить</li>
													<li class="context-open__list-item">Игнорировать</li>
												</ul>
											</span>
										</div>
									</div>
									<div class="messenger__body-inner-message-right-text">
										<div class="messenger__body-inner-message-right-text-item">Замечательное средство.</div>
										<div class="messenger__body-inner-message-right-text-item">Спасло мне жизнь -_-</div>
									</div>
								</div>
							</div>
							<div class="messenger__body-inner-message">
								<div class="messenger__body-inner-message-left">
									<div class="messenger__body-inner-message-left-avatar">
										<img src="assets/img/content/slider-1.png" alt="" class="messenger__body-inner-message-left-avatar-image">
										<div class="messenger__body-inner-message-left-avatar-letter">M</div>
									</div>
								</div>
								<div class="messenger__body-inner-message-right">
									<div class="messenger__body-inner-message-right-info">
										<span class="messenger__body-inner-message-right-info-name">Максим Островский</span>
										<div class="flex flex--v width-auto margin-left-auto">
											<date class="messenger__body-inner-message-right-info-date">28.04.2021 1:30</date>
											<span class="context-open margin-left-auto">
												<ul class="context-open__list">
													<li class="context-open__list-item">Ответить</li>
													<li class="context-open__list-item">Удалить</li>
													<li class="context-open__list-item">Игнорировать</li>
												</ul>
											</span>
										</div>
									</div>
									<div class="messenger__body-inner-message-right-text">
										<div class="messenger__body-inner-message-right-text-item">Замечательное средство.</div>
										<div class="messenger__body-inner-message-right-text-item">Спасло мне жизнь -_-</div>
									</div>
								</div>
							</div>
							<div class="messenger__body-inner-message">
								<div class="messenger__body-inner-message-left">
									<div class="messenger__body-inner-message-left-avatar">
										<img src="assets/img/content/slider-1.png" alt="" class="messenger__body-inner-message-left-avatar-image">
										<div class="messenger__body-inner-message-left-avatar-letter">M</div>
									</div>
								</div>
								<div class="messenger__body-inner-message-right">
									<div class="messenger__body-inner-message-right-info">
										<span class="messenger__body-inner-message-right-info-name">Максим Островский</span>
										<div class="flex flex--v width-auto margin-left-auto">
											<date class="messenger__body-inner-message-right-info-date">28.04.2021 1:30</date>
											<span class="context-open margin-left-auto">
												<ul class="context-open__list">
													<li class="context-open__list-item">Ответить</li>
													<li class="context-open__list-item">Удалить</li>
													<li class="context-open__list-item">Игнорировать</li>
												</ul>
											</span>
										</div>
									</div>
									<div class="messenger__body-inner-message-right-text">
										<div class="messenger__body-inner-message-right-text-item">Замечательное средство.</div>
										<div class="messenger__body-inner-message-right-text-item">Спасло мне жизнь -_-</div>
									</div>
								</div>
							</div>
							<div class="messenger__body-inner-message messenger__body-inner-message--thread">
								<div class="messenger__body-inner-message-left">
									<div class="messenger__body-inner-message-left-avatar">
										<img src="assets/img/content/slider-1.png" alt="" class="messenger__body-inner-message-left-avatar-image">
										<div class="messenger__body-inner-message-left-avatar-letter">Е</div>
									</div>
								</div>
								<div class="messenger__body-inner-message-right">
									<div class="messenger__body-inner-message-right-info">
										<span class="messenger__body-inner-message-right-info-name">Евгений Понасенков</span>
										<div class="flex flex--v width-auto margin-left-auto">
											<date class="messenger__body-inner-message-right-info-date">28.04.2021 1:44</date>
											<span class="context-open margin-left-auto">
												<ul class="context-open__list">
													<li class="context-open__list-item">Ответить</li>
													<li class="context-open__list-item">Удалить</li>
													<li class="context-open__list-item">Игнорировать</li>
												</ul>
											</span>
										</div>
									</div>
									<div class="messenger__body-inner-message-right-text">
										<div class="messenger__body-inner-message-right-text-item">Максим, а мне не спасло</div>
									</div>
								</div>
							</div>
							<div class="messenger__body-inner-message messenger__body-inner-message--thread">
								<div class="messenger__body-inner-message-left">
									<div class="messenger__body-inner-message-left-avatar">
										<img src="assets/img/content/slider-1.png" alt="" class="messenger__body-inner-message-left-avatar-image">
										<div class="messenger__body-inner-message-left-avatar-letter">О</div>
									</div>
								</div>
								<div class="messenger__body-inner-message-right">
									<div class="messenger__body-inner-message-right-info">
										<span class="messenger__body-inner-message-right-info-name">Оператор Андрей</span>
										<div class="flex flex--v width-auto margin-left-auto">
											<date class="messenger__body-inner-message-right-info-date">28.04.2021 1:44</date>
											<span class="context-open margin-left-auto">
												<ul class="context-open__list">
													<li class="context-open__list-item">Ответить</li>
													<li class="context-open__list-item">Удалить</li>
													<li class="context-open__list-item">Игнорировать</li>
												</ul>
											</span>
										</div>
									</div>
									<div class="messenger__body-inner-message-right-text">
										<div class="messenger__body-inner-message-right-text-item">Максим, поздравляем</div>
									</div>
								</div>
							</div>
							<div class="messenger__body-inner-message messenger__body-inner-message--thread">
								<div class="messenger__body-inner-message-left">
									<div class="messenger__body-inner-message-left-avatar">
										<img src="assets/img/content/slider-1.png" alt="" class="messenger__body-inner-message-left-avatar-image">
										<div class="messenger__body-inner-message-left-avatar-letter">О</div>
									</div>
								</div>
								<div class="messenger__body-inner-message-right">
									<div class="messenger__body-inner-message-right-info">
										<span class="messenger__body-inner-message-right-info-name">Оператор Андрей</span>
										<div class="flex flex--v width-auto margin-left-auto">
											<date class="messenger__body-inner-message-right-info-date">28.04.2021 1:44</date>
											<span class="context-open margin-left-auto">
												<ul class="context-open__list">
													<li class="context-open__list-item">Ответить</li>
													<li class="context-open__list-item">Удалить</li>
													<li class="context-open__list-item">Игнорировать</li>
												</ul>
											</span>
										</div>
									</div>
									<div class="messenger__body-inner-message-right-text">
										<div class="messenger__body-inner-message-right-text-item">Евгений, сожалеем</div>
									</div>
								</div>
							</div>
							<div class="messenger__body-inner-message">
								<div class="messenger__body-inner-message-left">
									<div class="messenger__body-inner-message-left-avatar">
										<img src="assets/img/content/slider-1.png" alt="" class="messenger__body-inner-message-left-avatar-image">
										<div class="messenger__body-inner-message-left-avatar-letter">И</div>
									</div>
								</div>
								<div class="messenger__body-inner-message-right">
									<div class="messenger__body-inner-message-right-info">
										<span class="messenger__body-inner-message-right-info-name">Игорь Косинский</span>
										<div class="flex flex--v width-auto margin-left-auto">
											<date class="messenger__body-inner-message-right-info-date">28.04.2021 1:44</date>
											<span class="context-open margin-left-auto">
												<ul class="context-open__list">
													<li class="context-open__list-item">Ответить</li>
													<li class="context-open__list-item">Удалить</li>
													<li class="context-open__list-item">Игнорировать</li>
												</ul>
											</span>
										</div>
									</div>
									<div class="messenger__body-inner-message-right-text">
										<div class="messenger__body-inner-message-right-text-item">Оказалось гомеопатия не работает, как так?</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<form action="" class="messenger__form">
						<textarea name="" id="" cols="30" rows="10" placeholder="Ваш ответ..." class="messenger__form-message" spellcheck="true"></textarea>
						<button class="button button--primary">Отправить</button>
					</form>
				</section>
			</div>
		</main>
	</div>
	<!-- body -->
	<script src="js/app.min.js"></script>
</body>

</html>