<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<title>Статичные страницы</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/styles.min.css">
</head>

<body>
	<div class="page-wrapper page-wrapper--close-menu">
		//= include/header.html
		//= include/aside.html
		<main class="page-main padding-bottom-0">
			<h1 class="page-title">Статичные страницы</h1>
			<div class="form-buttons margin-top-0">
				<form class="search-block">
					<input type="search" class="input">
					<button type="submit" class="search-block__button">Поиск</button>
				</form>
				<div class="buttons-bunch">
					<button class="button buttons-bunch__item" type="button">
						Создать
					</button>
				</div>
			</div>
			<section class="table margin-top-4" style="grid-template-columns: 
    minmax(64px, 1fr)
    minmax(30px, 1fr)
    minmax(140px, 1fr)
    minmax(140px, 1fr)
    minmax(80px, 1.67fr)
    minmax(80px, 1.67fr);">
				<div class="table__row table__row--title">
					<div class="table__cell" data-type="text-short">
						<div class="checkbox-bunch checkbox-bunch--s">
							<input type="checkbox" name="all" id="all" class="checkbox-bunch__input">
							<label for="all" class="checkbox-bunch__label"></label>
						</div>
						<div class="table__cell-resize"></div>
					</div>
					<div class="table__cell flex" data-type="text-short">
						<div class="sort-bunch">
							<span class="sort-bunch__top sort-bunch__top--active">По возрастанию</span>
							<span class="sort-bunch__bottom">По убыванию</span>
						</div>
						<a href="">ID</a>
						<div class="table__cell-resize"></div>
					</div>
					<div class="table__cell flex" data-type="text-short">
						<div class="sort-bunch">
							<span class="sort-bunch__top sort-bunch__top--active">По возрастанию</span>
							<span class="sort-bunch__bottom">По убыванию</span>
						</div>
						<a href="#">Название</a>
						<div class="table__cell-resize"></div>
					</div>
					<div class="table__cell flex" data-type="text-short">
						<div class="sort-bunch">
							<span class="sort-bunch__top sort-bunch__top--active">По возрастанию</span>
							<span class="sort-bunch__bottom">По убыванию</span>
						</div>
						<a href="#">Статус</a>
						<div class="table__cell-resize"></div>
					</div>
					<div class="table__cell flex" data-type="text-short">
						<div class="sort-bunch">
							<span class="sort-bunch__top sort-bunch__top--active">По возрастанию</span>
							<span class="sort-bunch__bottom">По убыванию</span>
						</div>
						<a href="#">Последнее изменение</a>
						<div class="table__cell-resize" data-type="text-short"></div>
					</div>
					<div class="table__cell flex" data-type="text-short">
						<a href="#">Действие</a>
						<div class="table__cell-resize"></div>
					</div>
				</div>
				<div class="table__row">
					<div class="table__cell table__cell--checkbox">
						<div class="checkbox-bunch checkbox-bunch--s">
							<input type="checkbox" name="1" id="1" class="checkbox-bunch__input">
							<label for="1" class="checkbox-bunch__label"></label>
						</div>
					</div>
					<div class="table__cell flex">
						1
					</div>
					<div class="table__cell flex">
						Контакты
					</div>
					<div class="table__cell flex">
						Опубликована
					</div>
					<div class="table__cell flex">
						28.02.2021
					</div>
					<div class="table__cell flex">
						<span class="context-open">
							<ul class="context-open__list">
								<li class="context-open__list-item">Ответить</li>
								<li class="context-open__list-item">Удалить</li>
								<li class="context-open__list-item">Игнорировать</li>
							</ul>
						</span>
					</div>
				</div>
				<div class="table__row">
					<div class="table__cell table__cell--checkbox">
						<div class="checkbox-bunch checkbox-bunch--s">
							<input type="checkbox" name="1" id="1" class="checkbox-bunch__input">
							<label for="1" class="checkbox-bunch__label"></label>
						</div>
					</div>
					<div class="table__cell flex">
						1
					</div>
					<div class="table__cell flex">
						Контакты
					</div>
					<div class="table__cell flex">
						Опубликована
					</div>
					<div class="table__cell flex">
						28.02.2021
					</div>
					<div class="table__cell flex">
						<span class="context-open">
							<ul class="context-open__list">
								<li class="context-open__list-item">Ответить</li>
								<li class="context-open__list-item">Удалить</li>
								<li class="context-open__list-item">Игнорировать</li>
							</ul>
						</span>
					</div>
				</div>
				<div class="table__row">
					<div class="table__cell table__cell--checkbox">
						<div class="checkbox-bunch checkbox-bunch--s">
							<input type="checkbox" name="1" id="1" class="checkbox-bunch__input">
							<label for="1" class="checkbox-bunch__label"></label>
						</div>
					</div>
					<div class="table__cell flex">
						1
					</div>
					<div class="table__cell flex">
						Контакты
					</div>
					<div class="table__cell flex">
						Опубликована
					</div>
					<div class="table__cell flex">
						28.02.2021
					</div>
					<div class="table__cell flex">
						<span class="context-open">
							<ul class="context-open__list">
								<li class="context-open__list-item">Ответить</li>
								<li class="context-open__list-item">Удалить</li>
								<li class="context-open__list-item">Игнорировать</li>
							</ul>
						</span>
					</div>
				</div>
				<div class="table__row">
					<div class="table__cell table__cell--checkbox">
						<div class="checkbox-bunch checkbox-bunch--s">
							<input type="checkbox" name="1" id="1" class="checkbox-bunch__input">
							<label for="1" class="checkbox-bunch__label"></label>
						</div>
					</div>
					<div class="table__cell flex">
						1
					</div>
					<div class="table__cell flex">
						Контакты
					</div>
					<div class="table__cell flex">
						Опубликована
					</div>
					<div class="table__cell flex">
						28.02.2021
					</div>
					<div class="table__cell flex">
						<span class="context-open">
							<ul class="context-open__list">
								<li class="context-open__list-item">Ответить</li>
								<li class="context-open__list-item">Удалить</li>
								<li class="context-open__list-item">Игнорировать</li>
							</ul>
						</span>
					</div>
				</div>
				<div class="table__row">
					<div class="table__cell table__cell--checkbox">
						<div class="checkbox-bunch checkbox-bunch--s">
							<input type="checkbox" name="1" id="1" class="checkbox-bunch__input">
							<label for="1" class="checkbox-bunch__label"></label>
						</div>
					</div>
					<div class="table__cell flex">
						1
					</div>
					<div class="table__cell flex">
						Контакты
					</div>
					<div class="table__cell flex">
						Опубликована
					</div>
					<div class="table__cell flex">
						28.02.2021
					</div>
					<div class="table__cell flex">
						<span class="context-open">
							<ul class="context-open__list">
								<li class="context-open__list-item">Ответить</li>
								<li class="context-open__list-item">Удалить</li>
								<li class="context-open__list-item">Игнорировать</li>
							</ul>
						</span>
					</div>
				</div>
				<div class="table__row">
					<div class="table__cell table__cell--checkbox">
						<div class="checkbox-bunch checkbox-bunch--s">
							<input type="checkbox" name="1" id="1" class="checkbox-bunch__input">
							<label for="1" class="checkbox-bunch__label"></label>
						</div>
					</div>
					<div class="table__cell flex">
						1
					</div>
					<div class="table__cell flex">
						Контакты
					</div>
					<div class="table__cell flex">
						Опубликована
					</div>
					<div class="table__cell flex">
						28.02.2021
					</div>
					<div class="table__cell flex">
						<span class="context-open">
							<ul class="context-open__list">
								<li class="context-open__list-item">Ответить</li>
								<li class="context-open__list-item">Удалить</li>
								<li class="context-open__list-item">Игнорировать</li>
							</ul>
						</span>
					</div>
				</div>
			</section>
			<div class="table-info">
				<div class="table-info__top">
					<div class="table-info__items">
						<span class="table-info__item">Элементов: 6</span>
						<span class="table-info__item">Показано 1 – 6</span>
					</div>
				</div>
				<div class="table-info__bottom">
					<div class="table-info__action">
						<button class="button">Выгрузить таблицу</button>
					</div>
					<ul class="pagination">
						<li class="pagination__item"><a href="" class="pagination__item-link pagination__item-link--active">1</a></li>
						<li class="pagination__item"><a href="" class="pagination__item-link">2</a></li>
						<li class="pagination__item"><a href="" class="pagination__item-link">3</a></li>
					</ul>
				</div>
			</div>
		</main>
	</div>
	<!-- body -->
	<script src="js/app.min.js"></script>
</body>

</html>