<aside class="sidebar">
	<ul class="sidebar__list">
		<li class="sidebar__list-item">
			<img src="assets/img/icon/content.svg" alt="Контент" class="sidebar__list-item-img">
			<span class="sidebar__list-item-value">Контент</span>
			<div class="sidebar__nav">
				<span class="sidebar__nav-close"></span>
				<b class="sidebar__nav-title">Контент</b>
				<ul class="sidebar__nav-list">
					<li class="sidebar__nav-list-item sidebar__nav-list-item--open">
						<span class="sidebar__nav-list-item-level">Контроль доступа</span>
						<ul class="sidebar__nav-list-inner">
							<li class="sidebar__nav-list-inner-item"><a href="" class="sidebar__nav-list-inner-item-link">Список пользователей</a></li>
							<li class="sidebar__nav-list-inner-item"><a href="" class="sidebar__nav-list-inner-item-link">Группы пользователей</a></li>
							<li class="sidebar__nav-list-inner-item"><a href="" class="sidebar__nav-list-inner-item-link">Уровни доступа</a></li>
						</ul>
					</li>
					<li class="sidebar__nav-list-item">
						<a href="" class="sidebar__nav-list-item-link">Инструменты</a>
					</li>
					<li class="sidebar__nav-list-item">
						</span><a href="" class="sidebar__nav-list-item-link">Производительность</a>
					</li>
					<li class="sidebar__nav-list-item">
						</span><a href="" class="sidebar__nav-list-item-link">Локализация</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="sidebar__list-item">
			<img src="assets/img/icon/services.svg" alt="Сервисы" class="sidebar__list-item-img">
			<span class="sidebar__list-item-value">Сервисы</span>
			<div class="sidebar__nav">
				<span class="sidebar__nav-close"></span>
				<b class="sidebar__nav-title">Сервисы</b>
				<ul class="sidebar__nav-list">
					<li class="sidebar__nav-list-item sidebar__nav-list-item--open">
						<span class="sidebar__nav-list-item-level">Контроль доступа</span>
						<ul class="sidebar__nav-list-inner">
							<li class="sidebar__nav-list-inner-item"><a href="" class="sidebar__nav-list-inner-item-link">Список пользователей</a></li>
							<li class="sidebar__nav-list-inner-item"><a href="" class="sidebar__nav-list-inner-item-link">Группы пользователей</a></li>
							<li class="sidebar__nav-list-inner-item"><a href="" class="sidebar__nav-list-inner-item-link">Уровни доступа</a></li>
						</ul>
					</li>
					<li class="sidebar__nav-list-item">
						<a href="" class="sidebar__nav-list-item-link">Инструменты</a>
					</li>
					<li class="sidebar__nav-list-item">
						</span><a href="" class="sidebar__nav-list-item-link">Производительность</a>
					</li>
					<li class="sidebar__nav-list-item">
						</span><a href="" class="sidebar__nav-list-item-link">Локализация</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="sidebar__list-item">
			<img src="assets/img/icon/marketing.svg" alt="Маркетинг" class="sidebar__list-item-img">
			<span class="sidebar__list-item-value">Маркетинг</span>
			<div class="sidebar__nav">
				<span class="sidebar__nav-close"></span>
				<b class="sidebar__nav-title">Маркетинг</b>
				<ul class="sidebar__nav-list">
					<li class="sidebar__nav-list-item sidebar__nav-list-item--open">
						<span class="sidebar__nav-list-item-level">Контроль доступа</span>
						<ul class="sidebar__nav-list-inner">
							<li class="sidebar__nav-list-inner-item"><a href="" class="sidebar__nav-list-inner-item-link">Список пользователей</a></li>
							<li class="sidebar__nav-list-inner-item"><a href="" class="sidebar__nav-list-inner-item-link">Группы пользователей</a></li>
							<li class="sidebar__nav-list-inner-item"><a href="" class="sidebar__nav-list-inner-item-link">Уровни доступа</a></li>
						</ul>
					</li>
					<li class="sidebar__nav-list-item">
						<a href="" class="sidebar__nav-list-item-link">Инструменты</a>
					</li>
					<li class="sidebar__nav-list-item">
						</span><a href="" class="sidebar__nav-list-item-link">Производительность</a>
					</li>
					<li class="sidebar__nav-list-item">
						</span><a href="" class="sidebar__nav-list-item-link">Локализация</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="sidebar__list-item">
			<img src="assets/img/icon/settings.svg" alt="Настройки" class="sidebar__list-item-img">
			<span class="sidebar__list-item-value">Настройки</span>
			<div class="sidebar__nav">
				<span class="sidebar__nav-close"></span>
				<b class="sidebar__nav-title">Настройки</b>
				<ul class="sidebar__nav-list">
					<li class="sidebar__nav-list-item sidebar__nav-list-item--open">
						<span class="sidebar__nav-list-item-level">Контроль доступа</span>
						<ul class="sidebar__nav-list-inner">
							<li class="sidebar__nav-list-inner-item"><a href="" class="sidebar__nav-list-inner-item-link">Список пользователей</a></li>
							<li class="sidebar__nav-list-inner-item"><a href="" class="sidebar__nav-list-inner-item-link">Группы пользователей</a></li>
							<li class="sidebar__nav-list-inner-item"><a href="" class="sidebar__nav-list-inner-item-link">Уровни доступа</a></li>
						</ul>
					</li>
					<li class="sidebar__nav-list-item">
						<a href="" class="sidebar__nav-list-item-link">Инструменты</a>
					</li>
					<li class="sidebar__nav-list-item">
						</span><a href="" class="sidebar__nav-list-item-link">Производительность</a>
					</li>
					<li class="sidebar__nav-list-item">
						</span><a href="" class="sidebar__nav-list-item-link">Локализация</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="sidebar__list-item">
			<img src="assets/img/icon/cart.svg" alt="Магазин" class="sidebar__list-item-img">
			<span class="sidebar__list-item-value">Магазин</span>
			<div class="sidebar__nav">
				<span class="sidebar__nav-close"></span>
				<b class="sidebar__nav-title">Магазин</b>
				<ul class="sidebar__nav-list">
					<li class="sidebar__nav-list-item">
						<span class="sidebar__nav-list-item-level">Контроль доступа</span>
						<ul class="sidebar__nav-list-inner">
							<li class="sidebar__nav-list-inner-item"><a href="" class="sidebar__nav-list-inner-item-link">Список пользователей</a></li>
							<li class="sidebar__nav-list-inner-item"><a href="" class="sidebar__nav-list-inner-item-link">Группы пользователей</a></li>
							<li class="sidebar__nav-list-inner-item"><a href="" class="sidebar__nav-list-inner-item-link">Уровни доступа</a></li>
						</ul>
					</li>
					<li class="sidebar__nav-list-item">
						<a href="" class="sidebar__nav-list-item-link">Инструменты</a>
					</li>
					<li class="sidebar__nav-list-item">
						</span><a href="" class="sidebar__nav-list-item-link">Производительность</a>
					</li>
					<li class="sidebar__nav-list-item">
						</span><a href="" class="sidebar__nav-list-item-link">Локализация</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
	<div class="sidebar__user">
		<a href="" class="sidebar__user-main">
			<img src="assets/img/user.png" alt="" class="sidebar__user-main-img">
		</a>
		<ul class="sidebar__user-menu">
			<li class="sidebar__user-menu-item">
				<a href="" class="sidebar__user-menu-item-link">
					<img src="assets/img/icon/sign-out.svg" alt="" class="sidebar__use-menu-item-link-img">
				</a>
			</li>
			<li class="sidebar__user-menu-item">
				<a href="" class="sidebar__user-menu-item-link">
					<img src="assets/img/icon/sign-out.svg" alt="" class="sidebar__use-menu-item-link-img">
				</a>
			</li>
			<li class="sidebar__user-menu-item">
				<a href="" class="sidebar__user-menu-item-link">
					<img src="assets/img/icon/sign-out.svg" alt="" class="sidebar__use-menu-item-link-img">
				</a>
			</li>
			<li class="sidebar__user-menu-item">
				<a href="" class="sidebar__user-menu-item-link">
					<img src="assets/img/icon/sign-out.svg" alt="" class="sidebar__use-menu-item-link-img">
				</a>
			</li>
		</ul>
	</div>
</aside>