<header class="page-header">
	<div class="page-header__logo">
		<a class="page-header__logo-img" href="index.html">
			<img src="assets/img/logo.svg" alt="" class="page-header__logo-img-content">
		</a>
		<div class="page-header__logo-text"></div>
	</div>
	<div class="page-header__actions">
		<div class="page-header__actions-notification">
			<span class="page-header__actions-notification-value">3</span>
		</div>
		<form class="search-block margin-left-auto">
			<input type="search" class="input">
			<button type="submit" class="search-block__button">Поиск</button>
		</form>
	</div>
</header>