.button{
	font-family: inherit;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: $default-brs;
	box-shadow: $main-shadow;
	font-size: 16px;
	color: $bg-sub-color;
	background-color: $bg-color;
	border: none;
	cursor: pointer;
	transition: 0.4s box-shadow;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	text-decoration: none;
	&__img{
		margin-left: 10px;
	}
	&:hover{
		box-shadow: none;
	}
	&--primary{
		background-color: $main-color;
		color: $bg-color;
	}
	&--important{
		background-color: $important-color;
		color: $bg-color;
	}
}