.order-table {
	width: calc(100% + 40px);
	transform: translateX(-20px);
	display: flex;
	flex-direction: column;
	font-size: 13px;

	&__row {
		display: flex;
		color: $bg-anti-color;

		&:nth-child(2n-1) {
			background-color: $bg-content-color;
		}

		&--border {
			border-top: 1px solid rgba(51, 51, 51, 0.1);
			border-bottom: 1px solid rgba(51, 51, 51, 0.1);

		}

		&-item {
			padding-left: 10px;
			padding-right: 10px;
			border-right: 1px solid rgba(51, 51, 51, 0.1);
			padding-top: 17px;
			padding-bottom: 17px;

			&:first-child {
				padding-left: 20px;
			}

			&:last-child {
				border-right: none;
			}
		}

		&--title {
			font-weight: 500;
			color: $font-color;
		}
	}

	&__product {
		width: 25%;

		&-img {
			width: 55px;
			height: auto;
			margin-right: 16px;
		}
	}

	&__prop {
		width: 20%;

		&-key {
			opacity: 0.6;
			margin-right: 10px;
		}
	}

	&__code {
		width: 10%;
	}

	&__location {
		width: 14%;
	}

	&__price {
		width: 7%;
	}

	&__sale {
		width: 7%;
	}

	&__value {
		width: 7%;
	}

	&__total {
		flex-grow: 2;

		&-delete {
			width: 18px;
			height: 18px;
		}
	}

	&__total-sale {
		padding-top: 16px;
		padding-bottom: 16px;
		margin-right: 55px;
		&-bunch{
			width: min-content;
			flex-grow: 2;
		}

		&-title {}
	}
	&__total-sub{
		padding-top: 16px;
		padding-bottom: 16px;
		margin-right: 55px;
	}
}