.select-color {
	position: relative;
	&::after{
		content:"";
		position: absolute;
		position: absolute;
		width: 22px;
		height: 22px;
		background-image: url(../assets/img/icon/color.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		right: 11px;
		top: 50%;
		transform: translateY(-50%);
		pointer-events:none;
	}
	&__input[type="color"] {
		padding-right: 40px;
		cursor: pointer;
	}
}