.sidebar {
	position: fixed;
	left: 0;
	top: 68px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $bg-anti-color;
	color: $bg-color;
	height: calc(100% - 68px);
	padding-bottom: 15px;
	z-index: 10;

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		width: 60px;
		align-items: center;
		margin-bottom: auto;

		&-item {
			display: flex;
			flex-direction: column;
			padding-top: 10px;
			padding-bottom: 9px;
			align-items: center;
			width: 100%;
			cursor: pointer;

			&--selected {
				background-color: $hover-color;

				.sidebar__nav {
					display: flex;
				}
			}

			&:hover {
				background-color: $hover-color;
			}

			&-img {
				width: 26px;
				height: 26px;
				margin-bottom: 3px;
				pointer-events: none;
			}

			&-value {
				font-size: 8px;
				pointer-events: none;
			}
		}
	}

	&__user {
		display: flex;
		flex-direction: column;
		width: 36px;
		height: 36px;
		position: relative;

		&:hover {
			.sidebar__user {
				&-menu {
					clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
				}
			}
		}

		&-main {
			border-radius: 100%;
			width: 36px;
			height: 36px;
			overflow: hidden;
			position: relative;
			box-shadow: $main-shadow;

			&-img {
				@extend %center;
				width: auto;
				height: 100%;
			}
		}

		&-menu {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: auto;
			padding: 0;
			margin: 0;
			list-style: none;
			z-index: -10;
			transform: translateY(-100%);
			clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
			transition: 0.4s clip-path;

			&-item {
				height: 36px;
				width: 36px;
				display: flex;
				margin-bottom: 10px;

				&-link {
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}

		}
	}

	&__nav {
		position: absolute;
		flex-direction: column;
		background-color: $bg-sub-color;
		width: 210px;
		left: 100%;
		top: 0;
		padding-top: 18px;
		height: 100%;
		cursor: default;
		display: none;

		&-close {
			position: absolute;
			right: -13px;
			top: 10px;
			width: 26px;
			height: 26px;
			background-color: $bg-sub-color;
			border-radius: 100%;
			background-image: url(../assets/img/left-arrow.svg);
			background-position: center;
			background-size: 7.83px 14.17px;
			background-repeat: no-repeat;
			cursor: pointer;
		}

		&-title {
			font-size: 18px;
			margin-bottom: 14px;
			padding-left: 8px;
		}

		&-list {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;

			&-item {
				display: flex;
				position: relative;
				flex-direction: column;

				&-level {
					padding-left: 20px;
					padding-top: 8px;
					padding-bottom: 8px;
					cursor: pointer;

					&::before {
						content: "";
						position: absolute;
						background-image: url(../assets/img/left-arrow.svg);
						width: 16px;
						height: 30px;
						left: 0;
						top: 0;
						background-size: 4.41px 8.01px;
						background-repeat: no-repeat;
						background-position: center;
						transform: rotate(180deg);
						transition: 0.4s transform;
					}
				}

				&--open &-level::before {
					transform: rotate(-90deg);
				}

				&-link {
					font-size: 13px;
					color: inherit;
					text-decoration: none;
					padding-top: 8px;
					padding-bottom: 8px;
					padding-left: 20px;
					cursor: pointer;
				}

				&:hover {
					background-color: $hover-color;
				}
			}

			&-inner {
				display: none;
				list-style: none;
				padding: 0;
				margin: 0;
				flex-direction: column;
				background-color: $bg-sub-color;

				&-item {
					display: flex;

					&-link {
						width: 100%;
						padding-left: 24px;
						color: inherit;
						text-decoration: none;
						padding-top: 8px;
						padding-bottom: 8px;

						&:hover {
							background-color: $hover-color;
						}
					}
				}
			}

		}
	}
}